@import url('https://fonts.cdnfonts.com/css/colus');

body {
    font-family: 'Colus', sans-serif;
}

.landing {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    animation: imageAnimation 12s infinite;
    transition: opacity 0.5s ease-in-out;
}

.landing:hover {
    opacity: 0.9;
}

@keyframes imageAnimation {
    0% {
        background-image: url("./assets/img/Landing1.jpg");
    }
    33% {
        background-image: url("./assets/img/Landing2.jpg");
    }
    66% {
        background-image: url("./assets/img/Landing3.jpg");
    }
    100% {
        background-image: url("./assets/img/Landing1.jpg");
    }
}
